@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');
* {
    font-family: 'Monteserrat', sans-serif;
}

:root {
    --nav-links-color: #fff;
    --button-hover-color: #878584;
    --backoffice-menu-bg: #343a40;
    --table-head-bg: #e9ecef;
    --nav-link-hover-color: #f79800;
    --footer-color: #e3e3e3;
    --dark-layer: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6));
    --edit-button-color: #ffa207;
    --delete-button-color: #dc3545;
    --pagination-active-bg: #007bff;
}

.header {
    background-image: url(./assets/backoffice.jpg);
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6);
    background-size: cover;
    background-position: center;
    display: flex;
    height: 260px;
    position:sticky;
    z-index: 999;
}

.header_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 0%;
    margin: 0 auto;
    font-size: 1.2rem;
}

.header_logo {
    color: var(--table-head-bg);    
    display: flex;
    position: absolute;
    left: 40px;
    text-decoration: none;
    font-size: 1.2rem;
    padding-right: 70%;
}

.header_menu {
    display: flex;
    position: absolute;
    justify-content: space-around;
    margin-left: 20%;
    align-items: center;
    list-style: none;
}

.header_link {
    color: rgba(255, 255, 255, 0.801);
    text-decoration: none;
    margin-right: 45px;
}

.header_link:hover {
    color: var(--nav-link-hover-color);
}

.header_title {
    position: absolute;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    list-style-type: none;
}

.navbar {
    display: flex;
    width: 100%;
    height: 35px;
    justify-content: flex-start;
    z-index: 1;
    margin: 0 auto;
    padding: 0;
    font-size: 0.8rem;
    background-color: #343a40;
}

.navbar_item {
    display: flex;
    padding-left: 42px;   
}

.navbar_link {
    color: var(--nav-links-color);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.full_table {
    display: flex;
    position: absolute;
    width: 80%;
    height: 35%;
    margin-left: 10%;
    margin-top: 1%;
}

.table_head_div {
    width: 100%;
    height: 15%;
    background-color: var(--table-head-bg);
}

.table_head_names {
    width: 84%;
    height: 100%;
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
    padding-left: 1%;
}

.table_head_name {
    position: relative;
    top: 20%;
}

.table_info_div {
    width: 100%;
    height: 85%;
    position: absolute;
    bottom: 0%;
}

.table_info {
    width: 85%;
    height: 100%;
    table-layout: auto;

    padding-left: 1%;
}

.table_buttons {
    width: 15%;
    height:100%;
    background-color: transparent;
    position: absolute;
    right: 0%;
    top: 0%;
}

td.a {
    font-size: 0.9rem;
    width: 31%;
    color: #343a4097;
}

td.b {
    font-size: 0.9rem;
    width: 32%;
    color:#343a4097;
}

td.c {
    font-size: 0.9rem;
    color: #343a4097;
}

td.editar {
    color: var(--edit-button-color);
    cursor: pointer;
}

td.excluir {
    color: var(--delete-button-color);
    cursor: pointer;
}
td.excluir:hover, td.editar:hover {
    color: var(--button-hover-color);
}

.button_line {
    position: absolute;
    bottom: 0%;
    width: 10%;
    height: 5%;
    margin-left: 30%;
    margin-bottom: 19.4%;

    display: flex;
}

.button {
    width:  50%;
    height: 100%;
    justify-content: center;
    background-color: #8785846d;
    color: #343a40;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: var(--button-hover-color);
}

.button_text {
    text-align: center;
    margin-top:10%;
}

.footer {
    background-color: var(--footer-color);
    color: #343a40b9;
    position: fixed;
    bottom:0;
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
}